
.face-snap-card-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin: 20px 0;
    }
    img{
        width: 150px;
        height: 90px;
        object-fit: cover;
    }
}